<h1>Student Form</h1>


<% if flash[:my_errors] %>
  <% flash[:my_errors].each do |error|%>
    <%= error %><br>
  <%end%>
<%end%>

<%= form_for @student do |f|%>

<%= f.label :name%>
<%= f.text_field :name%><br>

<%= f.label :mod%>
<%= f.number_field :mod%><br><br>

  <h3>Duck Form</h3><br>
  <%= f.fields_for :ducks, student.ducks.build do |duck| %>
    <%= duck.label :name%>
    <%= duck.text_field :name%><br>

    <%= duck.label :description%>
    <%= duck.text_area :description%><br>
  <%end%>

<%= f.submit %>
<%end%>